<div class="container">
  <h2>👤 New Employee</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-card">
    
    <div class="form-group">
      <label>Full Name <span style="color: red">*</span></label>
      <input type="text" formControlName="fullName" placeholder="e.g. Ahmed Ali">
    </div>

    <div class="form-group">
      <label>Job Title <span style="color: red">*</span></label>
      <input type="text" formControlName="jobTitle" placeholder="e.g. Warehouse Keeper">
    </div>

    <div class="form-group">
      <label>Department <span style="color: red">*</span></label>
      <select formControlName="departmentId" 
              style="width: 100%; padding: 12px; border: 2px solid #dee2e6; border-radius: 8px; font-size: 1rem; background-color: #fdfdfd;">
        <option value="">-- Select Department --</option>
        @for (dept of departments(); track dept.id) {
          <option [value]="dept.id">{{ dept.name }}</option>
        }
      </select>
    </div>

    <div class="form-group">
      <label>Email <span style="color: red">*</span></label>
      <input type="email" formControlName="email" placeholder="email@company.com">
    </div>

    <div class="form-group">
      <label>Phone <span style="color: red">*</span></label>
      <input type="text" formControlName="phoneNumber" placeholder="+20 1xxxxxxxxx">
    </div>

    <div class="actions">
      <button type="button" class="btn-secondary" routerLink="/hr">Cancel</button>
      
      <button type="submit" class="btn-primary" [disabled]="isSubmitting()">
        @if (isSubmitting()) { Saving... } @else { 💾 Save Employee }
      </button>
    </div>

  </form>
</div>